* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font: 16px/1.5 system-ui, sans-serif;
}

li {
  list-style: none;
}

.dropzone {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.dropzone.active {
  background-color: aliceblue;
  color: dodgerblue;
}

.dropzone p {
  pointer-events: none;
}

.toolbar {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid gainsboro;
  display: flex;
  padding: 0.75rem;
  position: sticky;
  top: 0;
}

.diff {
  display: grid;
  grid-template: auto / repeat(2, 1fr);
}

.diff pre {
  overflow: auto;
  padding: 1.5rem;
}
